<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="Description" content="" />
<link href="/templates/starznstripes/main.css" rel="stylesheet" type="text/css" />
<title><!--TITLE--></title>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
<!--PAGE_HEAD-->
</head>
<body>
   <div id="container">
      <div id="header">
         <a href="/"><h1 id="section_description"><!--SECTION_DESCRIPTION--></h1></a>
         <!--SECTION_MENUS-->
         <div id="content">
            <!--SIDEBAR-->
            <!--PAGE_CONTENT-->
         </div>

         <div id="footer">
            <!--FOOTER-->
         </div>
      </div>
   </div>
</body>
</html>
